

/* Napisy i elementy zawsze białe */
body, h1, h2, h3, h4, h5, h6, p, a, span, div, label, input, button {
    color: white !important;
}

/* Tylko tło strony zmieniające się w zależności od motywu */

/* Zielony motyw */
body.theme-default {
  background-color: #001a00;
}

/* Niebieski motyw */
body.theme-blue {
  background-color: #001f3f;
}

/* Fioletowy motyw */
body.theme-purple {
  background-color: #1a0033;
}

/* Złoty motyw */
body.theme-gold {
  background-color: #333300;
}

